
.blog{
    border: 5px solid red;
    width: 1100px;
    color: rgb(4, 255, 221);
    border-radius: 20px;
    background-color: rgb(17, 0, 255);       
}
.date{
    border: 5px solid rgb(51, 153, 90);
    border-radius: 20px;
    margin: 20px 40px 30px 10px;
    padding: 5px;
    
}
p{
    text-align: left center;
}
#brithday{
    border: 1px solid red;
    border-radius: 5px;
    background-color: aqua;    
}
.hate{
    color: rgb(253, 6, 6);
}
h1{
    text-align: center;
}

.dear{
    color: blue;
    border: 5px solid rgb(255, 0, 0);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkorange;    

}
    